<a href="https://colab.research.google.com/github/PyBlin/Study/blob/main/AI_Class1/Day09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list 순회(traverse)

In [1]:
l = [i for i in range(1, 11 )]

In [2]:
print(f'l = {l}\t({len(l)})')

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]	(10)

In [3]:
# for문을 이용한 순회
for i in range(10):
    print(f'[{i:<2}] : {l[i]}') # indexing 이용해서 요소의 내용 읽기

[0 ] : 1
[1 ] : 2
[2 ] : 3
[3 ] : 4
[4 ] : 5
[5 ] : 6
[6 ] : 7
[7 ] : 8
[8 ] : 9
[9 ] : 10

In [4]:
# list에 내장된 iterator(반복자)를 이용한 순회
for v in l:
    print(f'{v:2}') # 직접 list 요소 내용 읽기

 1
 2
 3
 4
 5
 6
 7
 8
 9
10

In [5]:
# enumerate() 함수를 이용하여 list의 index와 요소 내용을 동시에 활용
for i, v in enumerate(l): # enumerate() 함수는 index, value 형식으로 tuple로 반환
    print(f'[{i:<2}] : {v:2}')

[0 ] :  1
[1 ] :  2
[2 ] :  3
[3 ] :  4
[4 ] :  5
[5 ] :  6
[6 ] :  7
[7 ] :  8
[8 ] :  9
[9 ] : 10

In [6]:
names = ['hong','kim','lee']
ages = [35,25,45]

# names와 ages list 내용을 같은 index 위치의 내용을 활용
for i in range(len(names)):
    print(f'name : {names[i]:<10}({ages[i]:2})')

name : hong      (35)
name : kim       (25)
name : lee       (45)

In [7]:
# zip() 함수를 이용하여 names와 ages list의 같은 index 위치 내용 활용
for name, age in zip(names, ages):
    print(f'name : {name:<10}({age:2})')

name : hong      (35)
name : kim       (25)
name : lee       (45)

# dict

### dict 생성

In [8]:
# 빈 dict 생성
d = {}

print(f'd = {d}\t({len(d)})')

d = {}	(0)

In [9]:
# 초기값을 갖는 dict 생성
d = {'name':'hong', 'age':25, 'email':'hong@korea.com'}

print(f'd = {d}\t({len(d)})')

d = {'name': 'hong', 'age': 25, 'email': 'hong@korea.com'}	(3)

In [10]:
# list를 dict() 함수를 이용하여 dict로 반환
# 중첩 list
l = [['name', 'hong'], ['age', 25], ['email', 'hong@korea.com']]
d = dict(l)     # list를 dict로 형변환

print(f'd = {d}\t({len(d)})')

d = {'name': 'hong', 'age': 25, 'email': 'hong@korea.com'}	(3)

In [11]:
# dict()를 이용한 dict 생성
# dict() 함수에 'key = value' 형식으로 전달하여 생성
d = dict(name='hong', age=25, email='hong@korea.com')

print(f'd = {d}\t({len(d)})')

d = {'name': 'hong', 'age': 25, 'email': 'hong@korea.com'}	(3)

In [12]:
# tuple을 dict() 함수를 이용하여 dict로 반환
# 중첩 tuple
t = (('name','hong'),('age',25),('email','hong@korea.com'))
d = dict(t)

print(f'd = {d}\t({len(d)})')

d = {'name': 'hong', 'age': 25, 'email': 'hong@korea.com'}	(3)

In [13]:
l = [('name','hong'), ('age',25), ('email','hong@korea.com')]
d = dict(l)

print(f'd = {d}\t({len(d)})')

d = {'name': 'hong', 'age': 25, 'email': 'hong@korea.com'}	(3)

### sequence 자료형 공통 연산

In [14]:
# d[0]        # '0'이라는 key에 접근한다는 표현

In [15]:
d['name']       # index가 아니고 key라는 의미

'hong'

In [16]:
# d = d + {'tel':'010-1234-5678'} # 덧셈 안됨

In [17]:
# d * 2   # 곱셈도 안됨

In [18]:
# 포함 유무
'name' in d

True

In [19]:
'tel' in d

False

In [20]:
# 길이 계산
len(d)

3

### dict 요소(값) 읽기 / 요소 추가 / 요소 변경

In [21]:
print(f'd = {d}\t({len(d)})')

d = {'name': 'hong', 'age': 25, 'email': 'hong@korea.com'}	(3)

In [22]:
# 요소(값) 읽기
print(f'name = {d["name"]}')

name = hong

In [23]:
# 요소 쓰기 (요소 내용 변경)
d['name'] = 'HONG'

print(f'd = {d}\t({len(d)})')

d = {'name': 'HONG', 'age': 25, 'email': 'hong@korea.com'}	(3)

In [24]:
# 요소 추가
d['tel'] = '010-1234-5678'

print(f'd = {d}\t({len(d)})')

d = {'name': 'HONG', 'age': 25, 'email': 'hong@korea.com', 'tel': '010-1234-5678'}	(4)

### dict 생성 시 key가 중복된 경우

In [25]:
d = {'sun':0, 'mon':1, 'sun':10, 'tue':2, 'sun':-1}       # 마지막 key가 덮어 씀

print(f'd = {d}\t({len(d)})')

d = {'sun': -1, 'mon': 1, 'tue': 2}	(3)

### dict 메서드

In [26]:
d = {'sun':0, 'mon':1, 'tue':2}

print(f'd = {d}\t({len(d)})')

d = {'sun': 0, 'mon': 1, 'tue': 2}	(3)

In [27]:
print(d['sun'])

0

In [28]:
print(d['wed'])     # 읽기를 수행할 때 해당 key가 없으면 error 발생

KeyError: ignored

In [29]:
print(d.get('wed', 'not found'))

not found

In [30]:
value = d.get('wed',0)
if value != 0:
    print(value)
else:
    print('wed --> not found')

wed --> not found

### update() 메서드

In [31]:
d1 = {'sun':0, 'mon':1, 'tue':2}
d2 = {'wed':3, 'thu':4, 'fri':5, 'sat':6}

print(f'd1 = {d1}\t({len(d1)})')
print(f'd2 = {d2}\t({len(d2)})')

d1 = {'sun': 0, 'mon': 1, 'tue': 2}	(3)
d2 = {'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6}	(4)

In [32]:
d1.update(d2)       # d1에 d2를 결합

print(f'd1 = {d1}\t({len(d1)})')
print(f'd2 = {d2}\t({len(d2)})')

d1 = {'sun': 0, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6}	(7)
d2 = {'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6}	(4)

In [33]:
# d1, d2에 'sun' key가 중복
d1 = {'sun':0, 'mon':1, 'tue':2}
d2 = {'wed':3, 'thu':4, 'fri':5, 'sat':6, 'sun':7}

print(f'd1 = {d1}\t({len(d1)})')
print(f'd2 = {d2}\t({len(d2)})')

d1 = {'sun': 0, 'mon': 1, 'tue': 2}	(3)
d2 = {'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6, 'sun': 7}	(5)

In [34]:
d1.update(d2)       # d1에 d2를 결합 --> 중복 key는 d2의 key가 실제 요소가 된다.

print(f'd1 = {d1}\t({len(d1)})')
print(f'd2 = {d2}\t({len(d2)})')

d1 = {'sun': 7, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6}	(7)
d2 = {'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6, 'sun': 7}	(5)

### 삭제

In [35]:
print(f'd1 = {d1}\t({len(d1)})')

d1 = {'sun': 7, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6}	(7)

In [36]:
del d1['sun']       # 해당 key의 요소를 삭제

print(f'd1 = {d1}\t({len(d1)})')

d1 = {'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6}	(6)

In [37]:
d1.pop('wed')       # 반환값을 사용 안하는 경우

print(f'd1 = {d1}\t({len(d1)})')

d1 = {'mon': 1, 'tue': 2, 'thu': 4, 'fri': 5, 'sat': 6}	(5)

In [38]:
value = d1.pop('fri')

print(f'd1 = {d1}\t({len(d1)})')
print(f'delete value = {value}')

d1 = {'mon': 1, 'tue': 2, 'thu': 4, 'sat': 6}	(4)
delete value = 5

In [39]:
d1.clear()

print(f'd1 = {d1}\t({len(d1)})')

d1 = {}	(0)

### dict 순회(traverse)

In [40]:
d = {'name':'hong', 'age':25, 'email':'hong@korea.com'}

print(f'd = {d}\t({len(d)})')

d = {'name': 'hong', 'age': 25, 'email': 'hong@korea.com'}	(3)

In [41]:
# for문을 이용해서 dict의 iterator(반복자) 사용
# dict의 iterator(반복자)는 key를 반환
for v in d:
    print(v)

name
age
email

In [42]:
values = d.values()     # dict의 value 반환
keys = d.keys()         # dict의 key 반환
items = d.items()       # dict의 요소(key, value) 반환 (tuple로 묶어줌)

print(f'values : {values}\t({len(values)})')
print(f'keys : {keys}\t({len(keys)})')
print(f'items : {items}\t({len(items)})')

values : dict_values(['hong', 25, 'hong@korea.com'])	(3)
keys : dict_keys(['name', 'age', 'email'])	(3)
items : dict_items([('name', 'hong'), ('age', 25), ('email', 'hong@korea.com')])	(3)

In [43]:
for v in d.values():
    print(f'value : {v}')

value : hong
value : 25
value : hong@korea.com

In [44]:
for k in d.keys():
    print(f'd[{k}] : {d[k]}')

d[name] : hong
d[age] : 25
d[email] : hong@korea.com

In [45]:
for k, v in d.items():
    print(f'd[{k}] : {v}')

d[name] : hong
d[age] : 25
d[email] : hong@korea.com

In [46]:
for k, v in d.items():
    print(f'key = {k}\tvalue = {v}')

key = name	value = hong
key = age	value = 25
key = email	value = hong@korea.com

### dict comprehension

In [47]:
names = ['hong','kim','lee']
values = [25,35,45]
d = {k:v for k,v in zip(names,values)}      # dict comprehension

for k, v in d.items():
    print(f'd[{k}] : {v}')

d[hong] : 25
d[kim] : 35
d[lee] : 45

In [48]:
# for문만 이용하여 dict 생성
d = {}
for i,v in enumerate(names):
    d[v] = values[i]

for k,v in d.items():
    print(f'd[{k}] = {v}')

d[hong] = 25
d[kim] = 35
d[lee] = 45

# dict 적용 실습

문제 ) 3명의 학생의 이름, 3과목 점수를 입력받아 총점, 평균을 계산한 후 성적 일람표를 출력하는 파이썬 스크립트 작성(dict 사용)

문제 이해 ) 

    입력 자료 : 3명 학생 시험 정보(이름, 3과목 점수)
    출력 자료 : 3명 학생 성적 일람표
    * 총점, 평균 계산

알고리즘 설계 ) 

    0. 변수 정의
    1. 3명 만큼 반복
        1.1 학생 시험 정보 입력(이름, 3과목 성적)
        1.2 총점 계산
        1.3 평균 계산
    2. 성적 일람표 출력

In [49]:
# Symbolic Constant
MAX_STUDENT = 3
MAX_SUBJECT = 3
LOW_SCORE = 0
HIGH_SCORE = 100

# 0. 변수 정의
students = {}   # 학생 성적 정보 저장 dict

# 1. 3명 만큼 반복
for i in range(1, MAX_STUDENT + 1):
    name = input(f'[{i}] 번째 학생 이름 입력 : ')   # dict의 key

    # reset
    student = []    # 학생 3과목 점수, 총점, 평균 저장 - value로 사용
    total = 0
    
    for j in range(MAX_SUBJECT):
        # 1.1 점수 입력
        subject = int(float(input(f'[{i}]번째 [{name}]학생 [{j+1}]번째 점수 입력 : ')))

        # 입력 점수 범위 error check --> 2-read 기법 활용
        while subject < LOW_SCORE or subject > HIGH_SCORE:
            print(f'Error... 점수는 {LOW_SCORE} ~ {HIGH_SCORE} 범위입니다.')
            subject = int(float(input(f'[{i}]번째 [{name}]학생 [{j+1}]번째 점수 입력 : ')))      
        student.append(subject)

        # 1.2 총점 계산
        total += subject
    print()
    student.append(total)

    # 1.3 평균 계산
    average = total / MAX_SUBJECT
    student.append(average)

    # 학생 성적 정보 dict에 학생 추가
    students[name] = student

# 2. 성적 일람표 출력
print()
for k, v in students.items():
    print(f'{k:<10}', end='')

    for i in range(MAX_SUBJECT):
        print(f'{v[i]:5}', end='')

    print(f'{v[3]:8} {v[4]:8.2f}')

[1] 번째 학생 이름 입력 : Hong
[1]번째 [Hong]학생 [1]번째 점수 입력 : 10
[1]번째 [Hong]학생 [2]번째 점수 입력 : 20
[1]번째 [Hong]학생 [3]번째 점수 입력 : 30

[2] 번째 학생 이름 입력 : Kim
[2]번째 [Kim]학생 [1]번째 점수 입력 : 40
[2]번째 [Kim]학생 [2]번째 점수 입력 : 50
[2]번째 [Kim]학생 [3]번째 점수 입력 : 60

[3] 번째 학생 이름 입력 : Lee
[3]번째 [Lee]학생 [1]번째 점수 입력 : 70
[3]번째 [Lee]학생 [2]번째 점수 입력 : 80
[3]번째 [Lee]학생 [3]번째 점수 입력 : 90


Hong         10   20   30      60    20.00
Kim          40   50   60     150    50.00
Lee          70   80   90     240    80.00

In [50]:
# 학생 이름으로 검색
search = input('검색할 학생의 이름을 입력(종료 : "end") : ')
while search.lower() != 'end':
    student = students.get(search, 0)   # 검색

    if student != 0:    # 검색 결과에 따를 처리
        print(f'{search:<10}', end='')

        for i in range(MAX_SUBJECT):
            print(f'{student[i]:5}', end='')
        print(f'{student[3]:8} {student[4]:8.2f}')

    else:
        print(f'Error : {search:<10} 학생의 성적 정보는 없습니다.')
    print()

    search = input('검색할 학생의 이름을 입력(종료 : "end")')

검색할 학생의 이름을 입력(종료 : "end") : Hong
Hong         10   20   30      60    20.00

검색할 학생의 이름을 입력(종료 : "end")Kim
Kim          40   50   60     150    50.00

검색할 학생의 이름을 입력(종료 : "end")lee
Error : lee        학생의 성적 정보는 없습니다.

검색할 학생의 이름을 입력(종료 : "end")Lee
Lee          70   80   90     240    80.00

검색할 학생의 이름을 입력(종료 : "end")end