<a href="https://colab.research.google.com/github/PyBlin/Study/blob/main/AI_Class1/Day08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

### list 메서드

In [1]:
l = [5, 3, 1, 2, 4]
print(f'l = {l} (length = {len(l)})')

l = [5, 3, 1, 2, 4] (length = 5)

In [2]:
l.sort()            # list 내용 정렬, Ascending(오름차순) sort - default(기본)
print(f'l = {l} (length = {len(l)})')

l = [1, 2, 3, 4, 5] (length = 5)

In [3]:
l.sort(reverse=True)            # Descending(내림차순) sort
print(f'l = {l} (length = {len(l)})')

l = [5, 4, 3, 2, 1] (length = 5)

In [4]:
l = ['banana', 'melon', 'watermelon', 'apple']
print(f'l = {l} (length = {len(l)})')

l = ['banana', 'melon', 'watermelon', 'apple'] (length = 4)

In [5]:
l.sort()
print(f'l = {l} (length = {len(l)})')

l = ['apple', 'banana', 'melon', 'watermelon'] (length = 4)

In [6]:
l = ['abc', 'ab', 'abcd']
print(f'l = {l} (length = {len(l)})')

l = ['abc', 'ab', 'abcd'] (length = 3)

In [7]:
l.sort()
print(f'l = {l} (length = {len(l)})')

l = ['ab', 'abc', 'abcd'] (length = 3)

In [8]:
l = [5, 3, 1, 4, 2]
print(f'l = {l} (length = {len(l)})')

l = [5, 3, 1, 4, 2] (length = 5)

In [9]:
l2 = sorted(l)          # l의 내용은 바꾸지 않고 정렬된 결과를 반환

print(f'l = {l} (length = {len(l)})')
print(f'l2 = {l2} (length = {len(l2)})')

l = [5, 3, 1, 4, 2] (length = 5)
l2 = [1, 2, 3, 4, 5] (length = 5)

In [10]:
l3 = sorted(l, reverse=True)

print(f'l = {l} (length = {len(l)})')
print(f'l3 = {l3} (length = {len(l3)})')

l = [5, 3, 1, 4, 2] (length = 5)
l3 = [5, 4, 3, 2, 1] (length = 5)

### list comprehension (list 내장)
### 1~10정수값을 list에 저장

In [11]:
# 직접 list를 생성할 때 값을 지정하는 방법으로 생성
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]          # 생성할 list값 직접 입력
print(f'l = {l} (length = {len(l)})')

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] (length = 10)

In [12]:
# 반복문을 이용하여 list를 생성
l = []          # 빈 list 생성
for i in range(1, 101, 1):
    l.append(i)

print(f'l = {l} (length = {len(l)})')

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100] (length = 100)

In [13]:
# list comprehension(list 내장)을 이용하여 list 생성
l = [i for i in range(1, 11, 1)]            # 반복문의 결과를 사용해서 생성
print(f'l = {l} (length = {len(l)})')

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] (length = 10)

In [14]:
l = [i**2 for i in range(1, 11, 1)]
print(f'l = {l} (length = {len(l)})')

l = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100] (length = 10)

In [15]:
# 1~10에서 짝수를 list에 저장
l = [i for i in range(2, 11, 2)]
print(f'l = {l} (length = {len(l)})')

l = [2, 4, 6, 8, 10] (length = 5)

In [16]:
# 1~10에서 짝수를 list에 저장
l = [i for i in range(1, 11, 1) if i%2 == 0]
print(f'l = {l} (length = {len(l)})')

l = [2, 4, 6, 8, 10] (length = 5)

### list comprehension 중첩

In [17]:
l = [(i, j) for i in range(5) for j in range(3)]
print(f'l = {l} (length = {len(l)})')

l = [(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2)] (length = 15)

In [18]:
l = []

# 중첩 for 문
for i in range(5):          # 바깥 for문
    for j in range(3):      # 안쪽 for문
        l.append((i, j))    # 안쪽이 끝나야 바깥이 실행됨

print(f'l = {l} (length = {len(l)})')

l = [(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2)] (length = 15)

In [19]:
string = 'abc'
t = (1, 2, 3)

l = [(x, y) for x in string for y in t]

print(f'l = {l} (length = {len(l)})')

l = [('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)] (length = 9)

### list 적용 실습

### 문제) 5명의 학생 점수를 입력 받아 합계와 평균을 출력하는 파이썬 스크립트 작성

문제 이해)

    입력 자료 : 5명 학생 점수
    출력 자료 : 합계, 평균
    * 합계 : 5명 학생 점수를 더한다.
    * 평균 : 합계를 인원수로 나눈다.

알고리즘 설계)

    0. 변수 정의
    1. 5만큼 반복
        1.1 학생 점수 입력
        1.2 합계 계산
    2. 평균 계산
    3. 결과 출력

In [20]:
score1 = int(float(input('점수1 입력 : ')))
score2 = int(float(input('점수2 입력 : ')))
score3 = int(float(input('점수3 입력 : ')))
score4 = int(float(input('점수4 입력 : ')))
score5 = int(float(input('점수5 입력 : ')))

total = score1 + score2 + score3 + score4 + score5
average = total/5

print(f'\ntotal = {total}\taverage = {average}')

점수1 입력 : 10
점수2 입력 : 20
점수3 입력 : 30
점수4 입력 : 40
점수5 입력 : 50

total = 150	average = 30.0

In [21]:
total = 0

for i in range(5):
    score = int(float(input(f'점수{i+1:2} 입력 : ')))
    total += score
average = total/5

print(f'\ntotal = {total}\taverage = {average}')

점수 1 입력 : 10
점수 2 입력 : 20
점수 3 입력 : 30
점수 4 입력 : 40
점수 5 입력 : 50

total = 150	average = 30.0

In [22]:
# 누적 방식 --> 마지막 학생의 점수가 total 점수가 된다.
# 나중에 5명 점수의 합계만 필요할 때 불편.
MAX_STUDENT = 5         # Symbolic Constant : 의미화 상수, literal에 의미 부여
total = 0

for i in range(MAX_STUDENT):
    score = int(float(input(f'점수{i+1:2} 입력 : ')))       # :2 --> 띄어쓰기
    total += score  
average = total / MAX_STUDENT

print(f'\ntotal = {total}\taverage = {average}')

점수 1 입력 : 10
점수 2 입력 : 20
점수 3 입력 : 30
점수 4 입력 : 40
점수 5 입력 : 50

total = 150	average = 30.0

In [23]:
MAX_STUDENT = 5
scores = []         # 학생 점수 저장 list
total = 0

for i in range(MAX_STUDENT):
    score = int(float(input(f'점수{i+1:2} 입력 : ')))
    scores.append(score)
    total += score
average = total / MAX_STUDENT

print(f'\ntotal = {total}\taverage = {average}')

점수 1 입력 : 10
점수 2 입력 : 20
점수 3 입력 : 30
점수 4 입력 : 40
점수 5 입력 : 50

total = 150	average = 30.0

### 문제) 5명의 점수를 입력 받아 평균과의 차이를 출력하는 파이썬 스크립트 작성

문제 이해)

    입력 자료 : 5명 점수
    출력 자료 : 5명 점수에 대한 평균과의 차이값
    * 평균과의 차이값 : 먼저 평균을 계산하고 평균에서 점수를 뺀 값

알고리즘 설계)

    0. 변수 정의
    1. 5번 반복
        1.1 점수 입력
        1.2 합계 계산
    2. 평균 계산
    3. 각 점수와 평균과의 차이값 출력

In [24]:
MAX_STUDENT = 5
scores = []
total = 0

for i in range(MAX_STUDENT):
    score = int(float(input(f'점수{i+1:2} 입력 : ')))
    scores.append(score)
    total += score
average = total / MAX_STUDENT

print()
for i in range(MAX_STUDENT):
    difference = average - scores[i]
    print(f'average = {average:5.2f}\tscore = {scores[i]:3} \
    \tdifference = {difference:5.2f}')         # :5.2f --> 5자리 중의 2자리

점수 1 입력 : 10
점수 2 입력 : 20
점수 3 입력 : 30
점수 4 입력 : 40
점수 5 입력 : 50

average = 30.00	score =  10     	difference = 20.00
average = 30.00	score =  20     	difference = 10.00
average = 30.00	score =  30     	difference =  0.00
average = 30.00	score =  40     	difference = -10.00
average = 30.00	score =  50     	difference = -20.00

### 문제) 3명 학생 이름, 3과목 점수를 입력받아 평균과 총점을 계산한 후 전체 학생에 대한 성적 일람표를 출력하는 파이썬 스크립트 작성

문제 이해)

    입력 자료 : 3명 학생 이름, 3과목 점수
    출력 자료 : 3명 학생 성적 일람표 출력

알고리즘 설계)

    0. 변수 정의
    1. 3만큼 반복
        1.1 학생 성적 정보 입력
    2. 3만큼 반복
        2.1 학생 총점, 평균 계산
    3. 전체 성적 일람표 출력

In [25]:
'''
 Symbolic Constant - 일반 변수와 구별하기 위해 대문자로 사용
                   - 추후 변할 수 있는 값에 사용
                   - 고정된 값 (pi(3.14), 일반상수 등)에 사용 ㄴㄴ
'''
MAX_STUDENT = 3
MAX_SUBJECT = 3

# 변수 정의
students = []   # 전체 학생 저장

# 3명의 학생 성적 입력 및 총점 평균 계산
for i in range(MAX_STUDENT):
    student = []    # 한 명의 학생 성적 정보, reset
    total = 0       # reset
    name = input(f'{i+1:2}번 째 학생 이름 입력 : ')
    student.append(name)
    
    for j in range(MAX_SUBJECT):
        score = int(float(input(f'{name:<10} 학생 {j+1:2}번 째 점수 입력 : ')))
        student.append(score)
        total += score

    student.append(total)
    average = total / MAX_SUBJECT
    student.append(average)

    students.append(student)
    print()

print()
# 성적 일람표 출력
for v in students:
    print(f'{v[0]:<10} {v[1]:5} {v[2]:5} {v[3]:5} {v[4]:5} {v[5]:8.2f}')

 1번 째 학생 이름 입력 : Hong
Hong       학생  1번 째 점수 입력 : 10
Hong       학생  2번 째 점수 입력 : 20
Hong       학생  3번 째 점수 입력 : 30

 2번 째 학생 이름 입력 : Kim
Kim        학생  1번 째 점수 입력 : 40
Kim        학생  2번 째 점수 입력 : 50
Kim        학생  3번 째 점수 입력 : 60

 3번 째 학생 이름 입력 : Lee
Lee        학생  1번 째 점수 입력 : 70
Lee        학생  2번 째 점수 입력 : 80
Lee        학생  3번 째 점수 입력 : 90


Hong          10    20    30    60    20.00
Kim           40    50    60   150    50.00
Lee           70    80    90   240    80.00

### dict

### dict 생성

In [26]:
d = {}

print(f'type : {type(d)}\nd = {d}')

type : <class 'dict'>
d = {}

In [27]:
d = {'hong' : [50, 50, 50],
     'kim' : [90, 90, 90],
     'lee' : [70, 70, 70]}

print(f'type : {type(d)}\ndict = {d}')

type : <class 'dict'>
dict = {'hong': [50, 50, 50], 'kim': [90, 90, 90], 'lee': [70, 70, 70]}