<a href="https://colab.research.google.com/github/PyBlin/Study/blob/main/AI_Class1/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# set(집합)

## 생성

In [1]:
# 빈 set 생성
s = set()

print(f's = {s}\t( {len(s)} - {type(s)} )')

s = set()	( 0 - <class 'set'> )

In [2]:
# 초기값을 이용한 set 생성
s = {1, 2, 3, 4, 5}
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 2, 3, 4, 5}	( 5 - <class 'set'> )

In [3]:
s = {1, 2, 3, 1, 2, 3}
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 2, 3}	( 3 - <class 'set'> )

In [4]:
string = 'abcdabcd'
t = (1, 2, 3, 1)
l = [1, 2, 3, 1, 2]

s1 = set(string)    # 순서 없이 무작위로 저장
s2 = set(t)
s3 = set(l)

print(f's1 = {s1}\t( {len(s1)} - {type(s1)} )')
print(f's2 = {s2}\t( {len(s2)} - {type(s2)} )')
print(f's3 = {s3}\t( {len(s3)} - {type(s3)} )')

s1 = {'b', 'a', 'c', 'd'}	( 4 - <class 'set'> )
s2 = {1, 2, 3}	( 3 - <class 'set'> )
s3 = {1, 2, 3}	( 3 - <class 'set'> )

In [5]:
# l1 = [1, 2, 3]
# l2 = [4, 5, 6]

# s = {l1, l2}    # unhashable type: 'list'

# print(f's = {s}\t( {len(s)} - {type(s)} )')

## sequence 자료형 공통 연산

In [6]:
s = {1, 2, 3}
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 2, 3}	( 3 - <class 'set'> )

In [7]:
# indexing
# s[0]    # 순서대로 저장 안하니깐 인덱싱 ㄴㄴ

In [8]:
# slicing
# s[0:3]  # 순서대로 저장 안하니깐 슬라이싱 ㄴㄴ

In [9]:
# s2 = s + s    # 덧셈 안됨
# print(f's2 = {s2}\t( {len(s2)} - {type(s2)} )')

In [10]:
# s * 2   # 곱셈 안됨

In [11]:
1 in s

True

In [12]:
len(s)

3

# set 메서드

In [13]:
s = set()
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = set()	( 0 - <class 'set'> )

In [14]:
s.add(1)    # set에 데이터 추가
s.add(3)
s.add(4)
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 3, 4}	( 3 - <class 'set'> )

In [15]:
s.add(1)
s.add(4)
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 3, 4}	( 3 - <class 'set'> )

In [16]:
s.update([2, 5, 7])     # set에 데이터 결합
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 2, 3, 4, 5, 7}	( 6 - <class 'set'> )

In [17]:
s.remove(4)     # set의 요소 중 4를 삭제
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 2, 3, 5, 7}	( 5 - <class 'set'> )

In [18]:
# s.remove(4)     # 삭제할 요소가 없으면 error
# print(f's = {s}\t( {len(s)} - {type(s)} )')

KeyError: ignored

In [19]:
s.discard(3)    # set의 요소 중 3을 삭제
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 2, 5, 7}	( 4 - <class 'set'> )

In [20]:
s.discard(3)    # 만약에 삭제하고자 하는 요소가 없으면 그냥 통과
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {1, 2, 5, 7}	( 4 - <class 'set'> )

In [21]:
value = s.pop()
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = {2, 5, 7}	( 3 - <class 'set'> )

In [22]:
print(f'value = {value}')

value = 1

In [23]:
value = s.pop()
print(f's = {s}\t( {len(s)} - {type(s)} )')
print(f'value = {value}')

s = {5, 7}	( 2 - <class 'set'> )
value = 2

In [24]:
s.clear()
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = set()	( 0 - <class 'set'> )

# 집합 연산

In [25]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

print(f's1 = {s1}\t( {len(s1)} - {type(s1)} )')
print(f's2 = {s2}\t( {len(s2)} - {type(s2)} )')

s1 = {1, 2, 3, 4, 5, 6}	( 6 - <class 'set'> )
s2 = {4, 5, 6, 7, 8, 9}	( 6 - <class 'set'> )

In [26]:
print(f'{s1} 과 {s2} 의 합집합은 {s1.union(s2)}')

{1, 2, 3, 4, 5, 6} 과 {4, 5, 6, 7, 8, 9} 의 합집합은 {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
print(f'{s1} 과 {s2} 의 교집합은 {s1.intersection(s2)}')

{1, 2, 3, 4, 5, 6} 과 {4, 5, 6, 7, 8, 9} 의 교집합은 {4, 5, 6}

In [28]:
print(f'{s1} 과 {s2} 의 차집합은 {s1.difference(s2)}')

{1, 2, 3, 4, 5, 6} 과 {4, 5, 6, 7, 8, 9} 의 차집합은 {1, 2, 3}

In [29]:
print(f'{s1} 과 {s2} 의 대칭차집합은 {s1.symmetric_difference(s2)}')

{1, 2, 3, 4, 5, 6} 과 {4, 5, 6, 7, 8, 9} 의 대칭차집합은 {1, 2, 3, 7, 8, 9}

In [30]:
s1.intersection_update(s2)      # 교집합의 결과를 s1에 반영

print(f's1 = {s1}\t( {len(s1)} - {type(s1)} )')
print(f's2 = {s2}\t( {len(s2)} - {type(s2)} )')

s1 = {4, 5, 6}	( 3 - <class 'set'> )
s2 = {4, 5, 6, 7, 8, 9}	( 6 - <class 'set'> )

# frozenset : 변경 불가능한 set

In [31]:
s = frozenset([1, 2, 3, 4, 5, 6])
print(f's = {s}\t( {len(s)} - {type(s)} )')

s = frozenset({1, 2, 3, 4, 5, 6})	( 6 - <class 'frozenset'> )

In [32]:
# s.add(10)   # frozenset : 변경 불가
# print(f's = {s}\t( {len(s)} - {type(s)} )')

In [33]:
# s.remove(4)
# print(f's = {s}\t( {len(s)} - {type(s)} )')

In [34]:
s.intersection([1, 2, 3, 10, 11, 12])

frozenset({1, 2, 3})

# 함수(function) - 사용자 정의 함수 작성 및 사용 방법

In [35]:
# 함수 정의

# 함수명 : calc_max()
# 인수 : 최대값을 구하고 싶은 값이 저장된 tuple, list 하나 전달
# 반환값 : 최대값
def calc_max( numbers ):
    max_number = numbers[ 0 ]

    for v in numbers:
        if v > max_number:
            max_number = v
    
    return max_number

In [36]:
l = [5, 4, 2, 3, 1]
t = (10.5, 30.9, 20.3, 5.6)

# 함수 호출
# print() : 파이썬 라이브러리 함수
# calc_max() : 사용자 정의 함수
print(f'l = {l} 에서 최대값 : {calc_max(l)} 이다.')
print(f'l = {t} 에서 최대값 : {calc_max(t)} 이다.')

l = [5, 4, 2, 3, 1] 에서 최대값 : 5 이다.
l = (10.5, 30.9, 20.3, 5.6) 에서 최대값 : 30.9 이다.

In [37]:
# 함수 정의

# 하나의 기능을 수행하는 함수

# 함수명 : cal_min(numbers):
def calc_min(numbers):
    min_number = numbers[0]

    for v in numbers:
        if v < min_number:
            min_number = value
    
    return min_number

# 함수 정의

# 사용자 정의 함수를 호출하여 반환 결과를 반환하는 함수
# 인수 : 최대/최소값을 구하고 싶은 값이 저장된 tuple, list 하나 전달
# 반환값 : 최대값, 최소값
def calc_maxmin(numbers):
    max_number = calc_max(numbers)
    min_number = calc_min(numbers)

    return (max_number, min_number)

In [38]:
max_number, min_number = calc_maxmin(l)
print(f'l = {l} 에서 최대값 {max_number}\t최소값 {min_number} 이다.')

l = [5, 4, 2, 3, 1] 에서 최대값 5	최소값 2 이다.

In [39]:
def my_func():
    var1 = 1
    var2 = 2
    var3 = 3

    return [var1, var2, var3]

# var1, var2, var3 --> 3개의 값을 반환하는 것이 아니고 하나의 tuple을 반환

In [40]:
ret_value = my_func()

print(f'ret_value = {ret_value}\t({type(ret_value)})')

ret_value = [1, 2, 3]	(<class 'list'>)

In [41]:
def my_func2():
    print('\tmy_func2()')

    return

In [42]:
ret_value = my_func2()

print(f'ret_value = {ret_value}\t({type(ret_value)})')

	my_func2()
ret_value = None	(<class 'NoneType'>)

## 함수 유형

### 1. 인수가 없고 return 값이 없는 유형

In [43]:
# 함수 정의
def my_func():
    print('---------------------------------')
    print('my_func()')
    print('인수가 없고 return 값이 없는 유형')
    print('---------------------------------')

In [44]:
# 함수 호출
ret_value = my_func()
print(f'my_func() 함수 반환값 --> {ret_value}')

---------------------------------
my_func()
인수가 없고 return 값이 없는 유형
---------------------------------
my_func() 함수 반환값 --> None

### 2. 인수가 있고 return 값이 없는 유형

In [45]:
# 함수 정의
def my_func(message):
    print('---------------------------------')
    print('my_func()')
    print(f'인수 message = {message}')
    print('인수가 있고 return 값이 없는 유형')
    print('---------------------------------')

In [46]:
# 함수 호출
my_func('my_func() 함수 - 인수 : python')

---------------------------------
my_func()
인수 message = my_func() 함수 - 인수 : python
인수가 있고 return 값이 없는 유형
---------------------------------

### 3. 인수가 없고 return 값이 있는 유형

In [47]:
# 함수 정의
def my_func():      # 거의 안쓰는 유형
    print('---------------------------------')
    print('my_func()')
    print('인수가 없고 return 값이 있는 유형')
    print('---------------------------------')

    return '인수 없고 return 값 있는 유형'

In [48]:
# 함수 호출
ret_value = my_func()
print(f'ret_value = {ret_value}')

---------------------------------
my_func()
인수가 없고 return 값이 있는 유형
---------------------------------
ret_value = 인수 없고 return 값 있는 유형

### 4. 인수도 있고 return 값도 있는 유형

In [49]:
# 함수 정의
def my_func(message):
    print('---------------------------------')
    print('my_func()')
    print(f'인수 message = {message}')
    print('인수가 있고 return 값이 있는 유형')
    print('---------------------------------')

    return '인수 있고 return 값 있는 유형'

In [50]:
# 함수 호출
ret_value = my_func('인수')
print(f'ret_value = {ret_value}')

---------------------------------
my_func()
인수 message = 인수
인수가 있고 return 값이 있는 유형
---------------------------------
ret_value = 인수 있고 return 값 있는 유형