<a href="https://colab.research.google.com/github/PyBlin/Study/blob/main/AI_Class2/Second_Tutor/Jihoon_Seong01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 한 줄 주석 : (ctrl + /)
'''여러 줄은 이렇게 주석 처리'''

'여러 줄은 이렇게 주석 처리'

# 1.변수선언 및 출력

## 1.1 변수 (Variable)

어떠한 값(value)을 담는 저장 공간(storage location)과 그에 상응하는 이름(symbolic name)

- 첫 문자는 영문 혹은 underscore (_)
- 대소문자 구분
- 예약어는 변수명으로 사용 불가능. >> 함수명은 변수명으로 사용하지 말 것 !
- 값(value)의 의미를 추측할 수 있는 이름을 사용하면 유용함
- 변수에 줄 수 있는 값은 숫자, 문자, 다른 데이터타입의 형들이 모두 가능
- 변수를 만들고 나면 변수를 저장하는 메모리를 자동으로 생성하고 주소가 생김
- 변수는 변할 수 있음

### 1.1.1 변수 선언

In [2]:
a = 7
A = 6

### 1.1.2 변수 출력

In [3]:
print(a)
print(A)

7
6

### 1.1.3 변수 복사

In [4]:
a = 7
b = a

In [5]:
print(b)

7

In [6]:
print(a)

7

### 1.1.4 변수 선언 방법

1. 하나의 변수에 하나의 값을 대입
2. 두개의 변수에 같은 값을 대입
3. 변수에 변수를 대입

(+ 한줄에 여러 변수를 선언하고 싶을 때는 ";"를 이용한다.)

In [7]:
a = 1
b = 1

In [8]:
a = b = 1

In [9]:
a, b = 1, 1

In [10]:
print(a)
print(b)

1
1

# 2.자료형

- 수치형 (number) : 정수, 실수 등
- 문자열 (string) : 문자들의 모임
- 리스트 (list) : 순서를 가지는 python 객체의 집합
- 사전 (dictionary) : 순서를 가지지 않는 객체의 쌍 (key & value)
- 튜플 (tuple) : 순서를 가지는 python 객체의 집합
- 집합 (set) : 중복이 없고 순서를 가지지 않는 객체의 집합(집합 관련 데이터 처리)
- 부울 (bool) : 참과 거짓을 나타냄

## 2.1 수치형 (number)

In [11]:
print(3)
print(3.2)
print(-1.2e5)
print(1.2E-10)

3
3.2
-120000.0
1.2e-10

### 2.1.1 수치형 연산

- 사칙연산 : +  -  * /
- 나머지 연산: %
- 몫: //
- 제곱 연산: **

In [12]:
a = 4
b = 3.2
c = 2

In [13]:
print(a + b)
print(a - b)    # 2진소수를 10진소수로 정확히 표현하지 못해서 생기는 오차
print(round((a - b), 2))
print(a * b)
print(a / b)

7.2
0.7999999999999998
0.8
12.8
1.25

In [14]:
print(a / c)
print(a % c)    # 나누기게 제일 많이 쓰인다.
print(a // c)

2.0
0
2

In [15]:
a ** c

16

In [16]:
a ** b

84.44850628946526

### 2.1.2 수치형 관련 함수

자주 사용하는 함수형 연산
- abs()
- int()
- float()
- pow()

In [17]:
print(int(6.2))
print(int(-6.2))

6
-6

In [18]:
print(5)
print(float(5))

5
5.0

In [19]:
abs(-6.2)   # absolute : 거리개념 --> 부호만 떼어줌

6.2

In [20]:
pow(4, 2)   # pow(밑, 지수) --> 4 ** 2

16

## 2.2 문자열 (string)

문자, 단어 등으로 구성된 문자들의 집합을 의미함

### 2.2.1 문자열 입력 방법

1. ' '
2. " "
3. ''' '''
4. """ """

[why?] 이렇게 여러가지 방법을 만들었을까?

In [21]:
word = "phone"
word

'phone'

In [22]:
print("I'm smart")

I'm smart

In [23]:
sentence = '''글을 이렇게
여러 줄 쓰고 싶어요.
세 줄도 되고
네 줄도 되는'''
print(sentence)

글을 이렇게
여러 줄 쓰고 싶어요.
세 줄도 되고
네 줄도 되는

In [24]:
sentence

'글을 이렇게\n여러 줄 쓰고 싶어요.\n세 줄도 되고\n네 줄도 되는'

In [25]:
print('그가 "바보"라고 말했다.')

그가 "바보"라고 말했다.

### 2.2.2 이스케이프코드

미리 정의해 둔 '문자 조합 >> 출력물을 보기 좋게 만드는 용도 ! (print()와 함께 사용)

- 줄바꿈 : \n
- 탭 : \t
- \: \\
- ' : \'
- " : \"

In [26]:
sentence1 = '1\n2'
sentence2 = '1\t2'      # 2의 위치는
sentence3 = '123\t2'    # 바뀌지 않음.
sentence4 = '그는 \'좋다\'라고 생각했다. 그러나 "싫다"라고 말했다.'

print(sentence1)
print(sentence2)
print(sentence3)
print(sentence4)

1
2
1	2
123	2
그는 '좋다'라고 생각했다. 그러나 "싫다"라고 말했다.

In [27]:
# 어떻게 하면 아래 결과가 나올까요~~~?
# sentence를 하나의 문자열로 선언하여 아래의 출력 결과를 만들어 봅시다.
sentence = "커피 한 잔\n매실차 두 잔\n'커피콩빵도 있잖아?'\t\"강릉 커피콩빵이랑 비교해보자!\""
print(sentence)

커피 한 잔
매실차 두 잔
'커피콩빵도 있잖아?'	"강릉 커피콩빵이랑 비교해보자!"

### 정답은 아래!

In [28]:
sentence = "커피 한 잔\n매실차 두 잔\n\'커피콩빵도 있잖아?\'\t\"강릉 커피콩빵이랑 비교해보자!\""
print(sentence)

커피 한 잔
매실차 두 잔
'커피콩빵도 있잖아?'	"강릉 커피콩빵이랑 비교해보자!"

### 2.2.3 문자열 연산

문자열도 숫자형처럼 연산이 가능합니다.

In [29]:
a = 'python! '
b = 'good!'
a + b

'python! good!'

In [30]:
a * 5

'python! python! python! python! python! '

In [31]:
# 어떻게 하면 아래 결과가 나올까요~~~?
# 문자열 곱셈과 문자열 덧셈을 이용해 아래 모양을 만들어봅시다.
equal = '=' * 30
sentence = equal + '\n파이썬 하루만에 끝내보자!\n' + equal
print(sentence)

==============================
파이썬 하루만에 끝내보자!
==============================

### 정답은 아래에

In [32]:
sentence = '='*30 + '\n파이썬 하루만에 끝내보자!\n' + '='*30
print(sentence)

==============================
파이썬 하루만에 끝내보자!
==============================

### 2.2.4 문자열 인덱싱

index = 색인 = 찾아보기

- 순방향 인덱스: 0 부터 시작
- 역방향 인덱스: -1 부터 시작
- 문자열[인덱스]로 호출

In [33]:
sentence = '파이썬 하루만에 끝내보자!'

In [34]:
print(sentence)
print(sentence[1])
print(sentence[3])  # 띄어쓰기(공백)도 인덱스에 포함됨.
print(sentence[-1])

파이썬 하루만에 끝내보자!
이

!

In [35]:
### 문자열 인덱싱으로, 문자열을 변경할 수 있나요?
# sentence[-1] = '.'

# string : imutable... 새로 선언하는 수 밖에...
sentence = '파이썬 하루만에 끝내보자.'
sentence

'파이썬 하루만에 끝내보자.'

### 2.2.5 문자열 슬라이싱

slicing = 잘라내기

- 문자열[인덱스1:인덱스2]로 호출 (인덱스1 이상, 인덱스2 미만)

In [36]:
sentence[4:8]

'하루만에'

### 2.2.6 문자열 포맷팅

1. % 포맷팅 (c 스타일, %d: 정수 / %f: 실수 / %s: 문자열)
2. '{}'.format
3. f-string

In [37]:
a = 6
b = 7
c = 9
sentence = '나는 ' + str(a) + '호선을 타고 다녀.'
print(sentence)

나는 6호선을 타고 다녀.

In [38]:
# % 포맷팅
print('나는 %d호선을 타고 다녀.' %a)
print('나는 %.f호선을 타고 다녀.' %a)
print('나는 %s호선을 타고 다녀.' %a)    # ...? string에 정수가 되네요?

나는 6호선을 타고 다녀.
나는 6호선을 타고 다녀.
나는 6호선을 타고 다녀.

In [39]:
# {}.format() / {index}.format(), / {variable}.format(variable=)
print('나는 {}호선과 {}호선을 주로 타고 다녀.'.format(a, b))

# indexing 가능
print('나는 {1}호선과 {0}호선을 주로 타고 다녀.'.format(a, b))

# 중복 가능
print('나는 {1}호선과 {1}호선, {1}호선을 주로 타고 다녀.'.format(a, b, c))

# 변수 가능
print('나는 {x}호선과 {y}호선, {z}호선을 주로 타고 다녀.'.format(x=a, y=b, z=c))

나는 6호선과 7호선을 주로 타고 다녀.
나는 7호선과 6호선을 주로 타고 다녀.
나는 7호선과 7호선, 7호선을 주로 타고 다녀.
나는 6호선과 7호선, 9호선을 주로 타고 다녀.

In [40]:
# f-string
print(f'나는 {a}호선과 {b}호선, {c}호선을 주로 타고 다녀.')

# 산술연산 가능
print(f'나는 {a}호선과 {b+c}호선, {c}호선을 주로 타고 다녀.')

나는 6호선과 7호선, 9호선을 주로 타고 다녀.
나는 6호선과 16호선, 9호선을 주로 타고 다녀.

### 2.2.7 문자열 관련 함수

- len(x)


- .count(x)
- .find(x)
- .join(x)
- .upper()
- .lower()
- .replace(a, b)
- .split()

In [41]:
# len(x)
sentence = '나는 7호선을 타고 다녀.'
print(len(sentence))
print(sentence[13])

14
.

In [42]:
# .count(x)
haha = 'hahahahhahahahahohohohohohihihihihihihihih'
print(haha.count('ho'))

5

In [43]:
# .find(x)
file_name = 'JIAT_20210803_files.jpg'
print(file_name.find('.'))

19

In [44]:
# .upper()
print(haha.upper())

HAHAHAHHAHAHAHAHOHOHOHOHOHIHIHIHIHIHIHIHIH

In [45]:
# .lower()
print(haha.lower())

hahahahhahahahahohohohohohihihihihihihihih

In [46]:
# .join()
sentence = '.'.join('abcde')
print(sentence)

a.b.c.d.e

In [47]:
# .replace(a, b)
kiki = haha.replace('ha', 'ki')
print(haha)
print(kiki)

hahahahhahahahahohohohohohihihihihihihihih
kikikihkikikikihohohohohohihihihihihihihih

In [48]:
# .split()
file_name = 'JIAT_20210803_files.jpg'
print(file_name.split('.'))

['JIAT_20210803_files', 'jpg']

## 2.3 리스트 (list)

여러 자료형을 담을 수 있고, 여러 요소를 하나의 변수로 사용하고 싶을 때 사용.

- [ ]를 사용해서 초기화
- 리스트 또한 인덱싱과 슬라이싱 가능
- 다차원 배열 표현 가능 << 리스트 안에 리스트
- 리스트 안의 원소는 리스트, 집합, 딕셔너리 등도 가능

In [49]:
myList = [1, 1.25, 1, 'word', [1, 2, [3, 4]]]
myList

[1, 1.25, 1, 'word', [1, 2, [3, 4]]]

### 2.3.1 리스트의 인덱싱과 슬라이싱

In [50]:
# 3 추출하기
print(myList[4])
print(myList[4][2])
print(myList[4][2][0], '\n')

# slicing
print(myList[2:4])
print(myList[3][0])

[1, 2, [3, 4]]
[3, 4]
3

[1, 'word']
w

In [51]:
# 어떻게 하면 아래 결과가 나올까요~~~?
# 리스트의 인덱싱과 슬라이싱을 이용해 봅시다.
myList = [1, 5.2, 2*3, ['coffee', 'water', ['매실차', '유자차']]]

print(myList[3][2][0][:2])
print(myList[-1][-1][0][:2])

매실
매실

### 정답은 아래

In [52]:
myList[-1][-1][0][:2]

'매실'

### 2.3.2 리스트의 연산

In [53]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(list1 * 2 + list2)
print(len(list1))

[1, 2, 3, 1, 2, 3, 4, 5, 6]
3

### 2.3.3 리스트의 수정

In [54]:
### 리스트 인덱싱으로, 리스트를 변경할 수 있나요? --> list is mutable!
myList = [1, 5.2, 2*3, ['coffee', 'water', ['매실차', '유자차']]]
print(myList)
myList[3] = 4
print(myList)

[1, 5.2, 6, ['coffee', 'water', ['매실차', '유자차']]]
[1, 5.2, 6, 4]

### 2.3.4 리스트 관련 함수

- append(x)
- extend(x)
- sort()
- reverse()
- insert(a, b) : a는 index, b는 값
- remove(x)
- pop()
- count(x)


- del

In [55]:
myList = [1, 5.2, 2, 6, 2]
myList

[1, 5.2, 2, 6, 2]

In [56]:
# .append(x)
myList.append([1, 2])
myList

[1, 5.2, 2, 6, 2, [1, 2]]

In [57]:
# .extend(x)
myList = [1, 5.2, 2, 6, 2]
myList.extend([1, 2])
myList

[1, 5.2, 2, 6, 2, 1, 2]

In [58]:
# .sort()
myList = [1, 5.2, 2, 6, 2]
myList.sort()
myList

[1, 2, 2, 5.2, 6]

In [59]:
# .reverse()
myList.reverse()
myList

[6, 5.2, 2, 2, 1]

In [60]:
# .insert(a, b) : (index, value)
myList.insert(2, 3)
myList

[6, 5.2, 3, 2, 2, 1]

In [61]:
# .remove() : 값을 반환 불가능
ret = myList.remove(3)
print(myList)
print(ret)

[6, 5.2, 2, 2, 1]
None

In [62]:
# .pop() : 값을 반환 가능
lastword = myList.pop()
print(myList)
print(lastword)

[6, 5.2, 2, 2]
1

In [63]:
# .count(x)
myList.count(0)

0

In [64]:
# del
del myList[1]
myList

[6, 2, 2]

In [65]:
# 리스트 관련 함수 예제 1
myList = [1,2,3,4,5]

myList.insert(2, 6)
print(myList)
# 결과 : [1, 2, 6, 3, 4, 5]

[1, 2, 6, 3, 4, 5]

In [66]:
# 리스트 관련 함수 예제 2
myList = [3,4,1,2,5]

myList.sort(reverse=True)
print(myList)
# 결과 : [5,4,3,2,1]

[5, 4, 3, 2, 1]

In [67]:
# 리스트 관련 함수 예제 3
myList = [1,2,3]

myList.extend([4, 5, 6])
print(myList)
# 결과 : [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

## 2.4 사전 (dictionary)

대응 관계를 나타내는 자료형

- { }를 사용해서 초기화.
- 순서를 따지지 않음.
- key:value 의 쌍으로 이루어짐.
- key는 숫자형 혹은 문자열. 중복 불가능.
- value는 숫자형, 문자형, 리스트형, 사전형 등 대부분의 형식 가능.

In [68]:
myDict = {'name':'Goblin', 'age':30}
print(myDict)

{'name': 'Goblin', 'age': 30}

In [69]:
# indexing
print(myDict['name'])

Goblin

In [70]:
# add
myDict['grade'] = [10, 12, 8]
print(myDict)

{'name': 'Goblin', 'age': 30, 'grade': [10, 12, 8]}

In [71]:
# change value
myDict['age'] = 20
print(myDict)

{'name': 'Goblin', 'age': 20, 'grade': [10, 12, 8]}

### 2.4.1 사전의 수정

In [72]:
del myDict['grade']
print(myDict)

{'name': 'Goblin', 'age': 20}

### 2.4.2 사전 관련 함수

- keys()
- values()
- items()
- clear()
- get()


- del
- in

In [73]:
myDict = {'name':'Goblin', 'age':30, 'grade':[10, 12, 8]}
myDict

{'age': 30, 'grade': [10, 12, 8], 'name': 'Goblin'}

In [74]:
print(myDict)

# keys()
print(myDict.keys())

# values()
print(myDict.values())

# items()
print(myDict.items())

{'name': 'Goblin', 'age': 30, 'grade': [10, 12, 8]}
dict_keys(['name', 'age', 'grade'])
dict_values(['Goblin', 30, [10, 12, 8]])
dict_items([('name', 'Goblin'), ('age', 30), ('grade', [10, 12, 8])])

In [75]:
# clear()
myDict.clear()
print(myDict)

# enter new keys and values
myDict['name'] = 'Jack'
myDict['age'] = 40
print(myDict)

{}
{'name': 'Jack', 'age': 40}

In [76]:
# get() : 모두 실행 시 오류 발생하면 멈추지 않고 원활히 수행하기 위함.
print(myDict.get('grade'))

None

In [77]:
# in : only find key
print('grade' in myDict)
print('name' in myDict)

False
True

In [78]:
# 사전 관련 함수 예제
myDict = {'coffee':4000, 'water':2000, 'milk':2500}

"""
myDict에 cake 목록(아래)을 추가하고, 결과를 확인해보세요!
choco : 2000
banana : 4000
straw berry : 5000
"""

# dictionary can make dictionary in itself
myDict['cake'] = {'choco':2000, 'banana':4000, 'straw berry':5000}

print(myDict)
print(myDict['cake']['choco'])
print(myDict['cake'].keys())
print('mint choco' in myDict['cake'])

{'coffee': 4000, 'water': 2000, 'milk': 2500, 'cake': {'choco': 2000, 'banana': 4000, 'straw berry': 5000}}
2000
dict_keys(['choco', 'banana', 'straw berry'])
False

## 2.5 튜플 (tuple)

리스트와 비슷하지만, 값을 추가, 삭제, 수정할 수 없음!

- ( )를 이용하여 초기화 (( ) 없이도 선언 가능)
- 값 한개를 가질 때는 마지막에 ","를 써줘야 함
- 수정해서는 안되는 값들을 저장할 때 사용

In [79]:
tuple1 = (1)
print(type(tuple1))

# 튜플임을 명시하기 위해 1개일 시 컴마(,)를 사용해준다.
tuple1 = (1,)
print(type(tuple1))

<class 'int'>
<class 'tuple'>

In [80]:
tuple1 = (2.3,)
tuple2 = (2.3)
tuple3 = 1, 2, 3, 4, 5

print(tuple1, type(tuple1))
print(tuple2, type(tuple2))
print(tuple3, type(tuple3))

(2.3,) <class 'tuple'>
2.3 <class 'float'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [81]:
# indexing
tuple1 = 1, 2, 3, '?', [1, 23]
print(tuple1[1:-2]*2)   # [1:-2] --> ???

(2, 3, 2, 3)

## 2.6 집합 (set)

집합 관련 자료를 쉽게 처리하기 위해 만든 자료형

- { }을 사용해서 초기화
- 중복을 허용하지 않고 순서가 없음 >> 인덱싱 x
- 순서를 사용하고 싶다면, list나 tuple로 변형

In [82]:
set1 = {1, 4, 5}
print(set1)

{1, 4, 5}

In [83]:
list1 = [1, 2, 3, 4, 1, 3, 5, 7, 9]
print(list1)

# set : 중복된 값을 없애준다.
print(set(list1))

# 중복된 값이 없어진 set을 다시 list로 만든다.
print(list(set(list1)))

[1, 2, 3, 4, 1, 3, 5, 7, 9]
{1, 2, 3, 4, 5, 7, 9}
[1, 2, 3, 4, 5, 7, 9]

### 2.6.1 합집합, 교집합, 차집합

- 합집합 : |
- 교집합 : &
- 차집합 : -

In [84]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 3, 5, 7, 9}

print(set1 | set2)
print(set1 & set2)
print(set1 - set2, '\n')

# x and y : x is False --> x,    x is True --> y
print(set1 and set2)
# x or y : x is False --> y,    x is True --> x
print(set1 or set2)

{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}
{2, 4}

{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5}

### 2.6.2 집합 관련 함수

- .add()
- .updata()
- .remove()
- .union()
- .defference()

In [85]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 3, 5, 7, 9}
print(f'set1 : {set1}\t\tset2 : {set2}')

# add()
set1.add(6)
print(f'set1 : {set1}\tset2 : {set2}')

# update()
set2.update([11, 13])
print(f'set1 : {set1}\tset2 : {set2}')

# remove()
set1.remove(1)
print(f'set1 : {set1}\t\tset2 : {set2}', '\n')

# union() : 합집합
print(f'union : {set1.union(set2)}')
print(f'union : {set1 | set2}')

# difference() : 차집합
print(f'diff : {set1.difference(set2)}')
print(f'diff : {set1 - set2}')

# intersection() : 합집합
print(f'intersection : {set1.intersection(set2)}')
print(f'intersection : {set1 & set2}')

set1 : {1, 2, 3, 4, 5}		set2 : {1, 3, 5, 7, 9}
set1 : {1, 2, 3, 4, 5, 6}	set2 : {1, 3, 5, 7, 9}
set1 : {1, 2, 3, 4, 5, 6}	set2 : {1, 3, 5, 7, 9, 11, 13}
set1 : {2, 3, 4, 5, 6}		set2 : {1, 3, 5, 7, 9, 11, 13}

union : {1, 2, 3, 4, 5, 6, 7, 9, 11, 13}
union : {1, 2, 3, 4, 5, 6, 7, 9, 11, 13}
diff : {2, 4, 6}
diff : {2, 4, 6}
intersection : {3, 5}
intersection : {3, 5}

## 2.7 부울 (bool)

참과 거짓을 나타내는 자료형

- True / False
- 주로 조건문의 반환 값으로 사용

In [86]:
a = True
b = False
print(type(a), type(b))

<class 'bool'> <class 'bool'>

In [87]:
# &
print(True & True)
print(True & False)
print(False & False, '\n')

# |
print(True | True)
print(True | False)
print(False | False, '\n')

True
False
False

True
True
False

In [88]:
myDict1 = {'name':'Jack'}
myDict2 = {}

# 하나 이상의 값이 있으면 True, 비어있거나 0 이면 False
print(bool(myDict1))
print(bool(myDict2))

True
False

## 2.8 input 함수

문자열을 띄워 질문하고 사용자의 입력값을 받음

In [89]:
print('Hello')

Hello

In [90]:
num = input('값을 입력해주세요.\n')

# 어떤 값을 쳐도 string으로 입력된다.
print(num, type(num))

값을 입력해주세요.
100
100 <class 'str'>