<a href="https://colab.research.google.com/github/PyBlin/Study/blob/main/AI_Class2/Second_Tutor/Jihoon_Seong04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Class

- class : 과자틀, 템플릿

- 객체 : 과자(피조물)

클래스 변화 --> 객체 전체의 변화.

객체 변화 --> 다른 객체에 영향 없음.

In [1]:
class test():
    pass

In [2]:
test1 = test()
test2 = test()

In [3]:
test1.greeting = "Hi"
test2.greeting = "Hello"

In [4]:
print(test1.greeting)
print(test2.greeting)

Hi
Hello

## Example of class : Calculator

In [5]:
def add(save_v, value):
    save_v += value
    return save_v

In [6]:
save_v2 = 0
def add_2(value):
    global save_v2
    save_v2 += value
    return save_v2

# 여러 개의 계산기 만들기
save_v3 = 0
def add_3(value):
    global save_v3
    save_v3 += value
    return save_v3

save_v4 = 0
def add_4(value):
    global save_v4
    save_v4 += value
    return save_v4

# 비효율적... --> class 사용!!!

In [7]:
add_2(3)

3

In [8]:
class calculator():
    version = 1.0

    def __init__(self, initial=0):
        self.result = initial

    def add(self, value):
        self.result += value
        return self.result

    def sub(self, value):
        self.result -= value
        return self.result

    def mul(self, value):
        self.result *= value
        return self.result

    def div(self, value):
        # if value == 0:
        #     print("Error... 0으로 나눌 수 없습니다.")
        # else:
        self.result /= value
        return self.result

    def update(self, value):
        calculator.version += value
        return calculator.version

In [9]:
cal1 = calculator()
cal2 = calculator()

In [10]:
calculator.version

1.0

In [11]:
cal1.update(0.1)

1.1

In [12]:
cal2.version

1.1

In [13]:
# 객체.함수이름(인수)
print(cal1.result)

0

In [14]:
cal2.sub(2)

-2

In [15]:
cal2.mul(4)

-8

In [16]:
# cal2.dir(0)

- 인스턴스 변수

- 클래스 변수

- 메소드

In [17]:
myList = [1, 2, 3]
myDict = {'key1':1}

print(type(1))
print(type(3.2))
print(type('python'))
print(type(myList))
print(type(myDict))
print(type(cal1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class '__main__.calculator'>

In [18]:
dir(cal1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add',
 'div',
 'mul',
 'result',
 'sub',
 'update',
 'version']

- 설정 안했는데 언더바 : 매직 매소드

- 언더바 없음 : 우리가 설정한 메소드

In [19]:
dir(myList)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# 2.상속 & 오버라이딩

In [20]:
# 새 제품인데 calculator의 기능을 다 상속!!!
# pow 기능 추가
class calculator2(calculator):
    def pow(self, value):
        self.result **= value
        return self.result

    # over riding (기존 함수 덮어쓰기)
    def div(self, value):
        if value==0.0:
            print("Error...")
        else:
            self.result /= value
        return self.result

In [21]:
cal_1 = calculator2()
print(cal_1.result)
print(round(cal_1.version, 2))
print(round(cal_1.update(0.1), 2))

0
1.1
1.2

In [22]:
print(cal_1.add(2))

2

In [23]:
print(cal_1.pow(4))

16

In [24]:
print(cal_1.div(0))

Error...
16

# 3.상속 & 오버라이딩, super()

In [25]:
class parents():
    def handsome(self):
        print("잘 생겼다!")

In [26]:
father = parents()
father.handsome()

잘 생겼다!

In [27]:
class child_m(parents):
    def handsome(self):
        super().handsome()    # super = parents() 가져옴
        print("부모님 닮아서")

In [28]:
class child_f(parents):
    def handsome(self):
        pass
    def pretty(self):
        print("어? 예쁘다...")

In [29]:
boy = child_m()
boy.handsome()

잘 생겼다!
부모님 닮아서

In [30]:
girl = child_f()
girl.handsome()
girl.pretty()

어? 예쁘다...

# Example sample

In [31]:
class child():
    def __init__(self, who): # magic (or special) method : __init__은 생성자!!
        self.who = who  # return 값 없어야됨!!

    def handsome(self):
        print(f"{self.who}를 닮아서 잘 생겼다!")

    def pretty(self):
        print(f"{self.who}를 닮아서 예쁘다!")

In [32]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [33]:
# child class 상속받기 --> 매개변수(who)도 추가해줘야됨 --> 이름 달라도 됨
class boy(child):
    def __init__(self, who, where):
        super().__init__(who)
        self.where = where

    def handsome(self):
        super().handsome()
        print(f"특히 {self.where}(이)가 닮았어.")

In [34]:
son_1 = child("아버지")
son_1.who

'아버지'

In [35]:
son_1.handsome()

아버지를 닮아서 잘 생겼다!

In [36]:
son_2 = boy("아버지", "팔뚝")
son_2.handsome()

아버지를 닮아서 잘 생겼다!
특히 팔뚝(이)가 닮았어.

## Example 1

- 사칙연산 계산기를 상속받아서, 제곱과 루트 계산이 가능하게 하자.

In [37]:
class renew_cal(calculator):
    def square(self, value):
        self.result **= value
        return self.result

    def root(self, value=2):
        if value == 0.0:
            print("Error...")
        else:
            self.result **= 1/value
        return self.result

    def div(self, value):
        if value == 0.0:
            print("Error...")
        else:
            self.result = self.result / value
        return self.result

In [38]:
test1 = renew_cal()
test1.result

0

In [39]:
test1.add(2)

2

In [40]:
test1.square(5)

32

In [41]:
test1.root()

5.656854249492381

## Example 2

- 예제 1에서 만든 계산기를 상속받아, 계산 중인 값을 초기화 할 수 있게 하자.

In [42]:
class reset_cal(renew_cal):
    def reset(self):
        self.result = 0
        return self.result

In [43]:
test2 = reset_cal()
test2.result

0

In [44]:
test2.add(3)

3

In [45]:
test2.square(4)

81

In [46]:
test2.root()

9.0

In [47]:
test2.reset()

0

## Example 3

- 인적사항을 담고 있는 클래스 "company"를 만들고 객체를 만들어보자.

In [48]:
class company():
    def __init__(self, birth, join, basic_score, eval_score):
        self.birth = birth
        self.join = join
        self.basic_score = basic_score
        self.eval_score = eval_score

        self.age=0; self.cyear=None
        self.calc_info()
    def calc_info(self):
        today = 2021
        self.age = today - self.birth + 1
        self.cyear = today - self.join + 1
        self.total_score = self.basic_score + self.eval_score

In [49]:
jack = company(1992, 2018, 8.5, 7)
marry = company(1995, 2017, 8, 9)

In [50]:
print(jack.birth)
print(marry.basic_score)

1992
8

In [51]:
print(jack.age)
print(marry.cyear)

30
5

## Example 4

- 예제 3에서 객체를 초기화할 때 나이, 연차, 총 점수 정보를 계산하고 변수로 저장하자.

In [52]:
class company():
    def __init__(self, birth, join, basic_score, eval_score):
        self.birth = birth
        self.join = join
        self.basic_score = basic_score
        self.eval_score = eval_score

        # 예제 4번 부분
        self.age=0; self.cyear=None
        self.calc_info()
    def calc_info(self):
        today = 2021
        self.age = today - self.birth + 1
        self.cyear = today - self.join + 1
        self.total_score = self.basic_score + self.eval_score

## Example 5

- 클래스 변수를 사용해서 "company"에 입력된 사원의 수를 저장해보자.

In [53]:
class company():
    num_employee = 0
    
    def __init__(self, birth=1900, join=2021, basic_score=0, eval_score=0):
        self.birth = birth
        self.join = join
        self.basic_score = basic_score
        self.eval_score = eval_score

        # 예제 4
        self.age=0; self.cyear=None
        self.calc_info()

        # 예제 5
        company.num_employee += 1

    def calc_info(self):
        today = 2021
        self.age = today - self.birth + 1
        self.cyear = today - self.join + 1
        self.total_score = self.basic_score + self.eval_score

In [54]:
jack = company(1992, 2018, 8.5, 7)
marry = company(1995, 2017, 8, 9)
paseco = company(1986, 2003, 3, 10)
blokus = company(1997, 2021, 8)

In [55]:
print(company.num_employee)

4

## Example 6

- 저장한 사원의 수를 출력하는 메소드, \
사원의 점수를 수정하는 메소드, \
사원의 인적사항을 출력하는 메소드를 추가해보자

In [56]:
class company():
    num_employee = 0
    
    def __init__(self, birth=1900, join=2021, basic_score=0, eval_score=0):
        self.birth = birth
        self.join = join
        self.basic_score = basic_score
        self.eval_score = eval_score

        # 예제 4
        self.age=0; self.cyear=None
        self.calc_info()

        # 예제 5
        company.num_employee += 1

    def calc_info(self):
        today = 2021
        self.age = today - self.birth + 1
        self.cyear = today - self.join + 1
        self.total_score = self.basic_score + self.eval_score

        # 예제 6
    def print_num_employee():
        print(f"총 사원 수는 {company.num_employee}명 입니다.")

    def modify_score(self, basic_score=None, eval_score=None):
        if basic_score:
            self.basic_score = basic_score
        if eval_score:
            self.eval_score = eval_score
        self.total_score = self.basic_score + self.eval_score

    def print_employee_info(self):
        print(f"나이 : {self.age} 세 ({self.birth}년 생)")
        print(f"경력 : {self.cyear} 년차 ({self.join}년 입사)")
        print(f"총 점수 : {self.total_score} 점 \
        (기초 : {self.basic_score}점, 평가 : {self.eval_score}점)")

In [57]:
jack = company(1992, 2018, 8.5, 7)
marry = company(1995, 2017, 8, 9)
paseco = company(1986, 2003, 3, 10)
blokus = company(1997, 2021, 8) # 모르면 안넣음

In [58]:
company.print_num_employee()

총 사원 수는 4명 입니다.

In [59]:
marry.print_employee_info()

나이 : 27 세 (1995년 생)
경력 : 5 년차 (2017년 입사)
총 점수 : 17 점         (기초 : 8점, 평가 : 9점)

In [60]:
marry.modify_score(eval_score=7)
marry.print_employee_info()

나이 : 27 세 (1995년 생)
경력 : 5 년차 (2017년 입사)
총 점수 : 15 점         (기초 : 8점, 평가 : 7점)