<a href="https://colab.research.google.com/github/PyBlin/Study/blob/main/AI_Class2/Second_Tutor/Jihoon_Seong03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.함수

입력 >> **함수** >> 출력


반복적으로 사용되는 기능을 함수로 사용.


ex)
```
def add(arg1, arg2):
  result = arg1+arg2
  return result 
```

In [1]:
def add(x, y):
    return x + y

In [2]:
z = add(3, 6)
z

9

## 1.1 함수의 특징

- 입력값(argument), 결과값(return)이 없을 수 있다.
- 결과값은 하나이다.
- 입력값을 미리 정해 놓을 수 있다.
- 함수 안에서 선언한 변수는 함수 안에서만 유효하다. (return, global 제외)

In [3]:
def greeting():
    print("Hi~")

In [4]:
greeting()

Hi~

In [5]:
z = greeting()
print(z)

Hi~
None

In [6]:
def greeting_v2(name):
    print(f"Hi~ {name}")

In [7]:
z = greeting_v2('Jack')
z

Hi~ Jack

In [8]:
# return --> print
def greeting_v3():
    return "Hi~"

In [9]:
z = greeting_v3()

In [10]:
print(z)

Hi~

In [11]:
# default 값이 뒤로 와야됨. (x=3, y) 안됨.
def add_mul(x, y=8):
    result1 = x + y
    result2 = x * y
    return result1, result2

In [12]:
result1, result2 = add_mul(4, 5)
print(result1)
print(result2)

9
20

In [13]:
def sum_pow(x, y):
    '''input : 
    x = 밑
    y = 지수
    output : 
    (x+y, x**y)
    '''
    result1 = x + y
    result2 = x ** y
    return result1, result2

In [14]:
result1, result2 = sum_pow(y=3, x=2)
print(result1, end='\t')
print(result2)

5	8

In [15]:
def greeting_v4():
    global hi
    hi = "Hi"
    print(hi)

In [16]:
greeting_v4()

Hi

In [17]:
# 함수 안에서 선언한 변수는 함수 안에서만 유효하다. (return, global 제외)
print(hi)

Hi

In [18]:
# argument 갯수 제한 없이 사용 가능 : *
def add(*args, **kargs):
    sum = 0
    print(args)
    print(type(args))
    for arg in args:
        sum += arg
    return sum

In [19]:
print(add(1, 2, 3, 54, 6))

(1, 2, 3, 54, 6)
<class 'tuple'>
66

In [20]:
# dictionary 형태로 받기
def capital(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}'s capital city' is {value}.")

In [21]:
# key : string 형태로 들어가면 안됨.
capital(대한민국='서울', 일본='도쿄')

대한민국's capital city' is 서울.
일본's capital city' is 도쿄.

## 1.2 lambda

- 간단한 작업을 함수를 이용해 만드는 방법 (예약어=lambda)
- 함수이름 = **lambda** arg1, arg2: 수행(결과값)

In [22]:
add2 = lambda x,y : x+y
add2(1, 3)

4

# 함수 예제

In [23]:
# 1. 리스트를 입력 받아서, 홀수만 반환하는 함수를 작성

# teacher's solution
def odd_pick(inList):
    '''
    설명 적어 놓으면 더 좋음.
    '''
    result = []
    for num in inList:

        if type(num) == int:    # 정수만 추출
            if num%2 == 1:
                result.append(num)

        if type(num) == list:   # 이중 list 고려
            for list_num in num:
                if type(list_num) == int:
                    if list_num%2 == 1:
                        result.append(list_num)
    return result



myList1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'answer', 5.2]
print(odd_pick(myList1))

# 이중 list... 안됨 ㅠㅠ
myList2 = [1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
print(odd_pick(myList2))

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [24]:
def odd_list(items):
    return [item for item in items if item%2==1 and type(item)%2==int]

In [25]:
2# 2. 사용자 입력을 여러 개 받아서 평균을 계산해주는 함수를 작성

# teacher's solution
def input_avg():
    count=0; sum=0; max_num=10

    while count<10:
        value = input(f'평균을 구할 값을 하나씩 입력해주세요.\
        입력이 끝나면, "x"를 입력하세요. (최대 {max_num} 개의 값)\n')
        if value == 'x':
            break
        else:
            sum += float(value)
        count += 1

    if count>0:
        avg = sum / count
        print(f'입력된 값들의 평균은 {round(avg, 2)} 입니다.')
    else:
        print('입력된 값이 없습니다.')



input_avg()

평균을 구할 값을 하나씩 입력해주세요.        입력이 끝나면, "x"를 입력하세요. (최대 10 개의 값)
10
평균을 구할 값을 하나씩 입력해주세요.        입력이 끝나면, "x"를 입력하세요. (최대 10 개의 값)
20
평균을 구할 값을 하나씩 입력해주세요.        입력이 끝나면, "x"를 입력하세요. (최대 10 개의 값)
30
평균을 구할 값을 하나씩 입력해주세요.        입력이 끝나면, "x"를 입력하세요. (최대 10 개의 값)
x
입력된 값들의 평균은 20.0 입니다.

In [26]:
# 3. 1000 미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하라.

# teacher's solution
def three_five():
    sum=0
    for i in range(1, 1000):
        if i%3==0 or i%5==0:
            sum += i
    print(sum)
    return sum



three_five()

233168

233168

In [27]:
# 4. range() 함수와 같은 기능을 하는 my_range()를 작성 (반환값은 list로)

# teacher's solution
def my_range(arg1, arg2=None, stride=1):
    if arg2 == None:
        start = 0; end = arg1
    else:
        start = arg1; end = arg2

    count = start
    myList = []
    while count < end:
        myList.append(count)
        count += stride
    return myList



print(my_range(5, 10, 3))

[5, 8]

In [28]:
print(list(range(5, 10, 3)))

[5, 8]

In [29]:
# 5. 리스트와 한 정수를 입력 받고, 
# 한 줄에 입력 받은 정수 값만큼의 길이 씩 출력하는 함수를 작성

# teacher's solution
def print_p(in_list, num):
    for i, value in enumerate(in_list):
        if (i+1)%num == 0:
            print(str(value))
        else:
            print(str(value), end='\t')



print_p(my_range(18), 5)

0	1	2	3	4
5	6	7	8	9
10	11	12	13	14
15	16	17

In [30]:
print(my_range(18))
print_p(my_range(18), 3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
0	1	2
3	4	5
6	7	8
9	10	11
12	13	14
15	16	17

# 매우 중요!!!
- int((len(in_list)-num)/stride + 1)
- 향후 딥러닝(CNN)에서 자주 쓰이는 범위

In [31]:
# 6. 리스트와 두 정수를 입력 받고, 두 번째 정수 값만큼 이동하며, 
# 한 줄에 첫번째 정수 값만큼의 길이 씩 출력하는 함수를 작성...
# 반복문은 적을 수록 빠르고 좋다.

# teacher's solution
def print_p2(in_list, num, stride):
    for i in range(int((len(in_list)-num)/stride + 1)):
        for j, value in enumerate(in_list[i*stride : i*stride+num]):
            if (j+1)%num == 0:
                print(str(value))
            else:
                print(str(value), end='\t')



print_p2(my_range(18), 5, 3)

0	1	2	3	4
3	4	5	6	7
6	7	8	9	10
9	10	11	12	13
12	13	14	15	16

In [32]:
# teacher's solution 2
# using ex5
def print_p2(in_list, num, stride):
    for i in range(int((len(in_list)-num)/stride + 1)):
        print_p(in_list[i*stride : i*stride+num], num)
        # for j, value in enumerate(in_list[i*stride : i*stride+num]):
        #     if (j+1)%num == 0:
        #         print(str(value))
        #     else:
        #         print(str(value), end='\t')



print_p2(my_range(18), 5, 3)

0	1	2	3	4
3	4	5	6	7
6	7	8	9	10
9	10	11	12	13
12	13	14	15	16

In [33]:
# ex
# len(in_list) = l = 10
# num = 3
# stride = 2

# 0 1 2 3 4 5 6 7 8 9
# 0 1 2
#     2 3 4
#         4 5 6
# ...
#             6 7 8
# (8 9 10) : 10이 없기 때문에 출력이 안됨.

# i < i+num
# 0 <= i*s
# i * stride + num - 1 <= l - 1

# 0 <= i
# i <= int((l-num)/stride)

# 0 < int((l-num)/stride) + 1