<a href="https://colab.research.google.com/github/PyBlin/Study/blob/main/Python_Bascis/Day05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 표준 입/출력

표준 입력

In [1]:
# type : 함수 이름
# (10) : 인수(매개변수, parameter)
type(10)            # 함수 호출

int

In [2]:
type()              # type() 함수는 인수가 반드시 있어야 한다.

TypeError: ignored

In [3]:
input()                     # input 함수를 호출하고 결과를 별도로 저장하지 않음

10

'10'

In [4]:
variable = input()          # input 함수를 호출하고 결과를 variable에 저장

variable

20

'20'

In [5]:
variable = input('아무 값이나 입력하세요 : ')

variable

아무 값이나 입력하세요 : 30

'30'

In [6]:
variable = input('숫자를 입력하세요 : ')

variable, type(variable)            # input 함수는 문자열(str) 함수이다

숫자를 입력하세요 : 40

('40', str)

In [7]:
# 입력 받은 문자를 정수로 변환
variable = int(input('숫자를 입력하세요 : '))

variable, type(variable)            # 형변환을 활용하면 문자열에서 벗어날 수 있다

숫자를 입력하세요 : 50

(50, int)

In [8]:
# 입력 받은 문자를 실수로 변환 후 정수로 변환
variable = int(float(input('숫자를 입력하세요 : ')))

variable, type(variable)

숫자를 입력하세요 : 60

(60, int)

## 두 개의 정수를 입력 받아 사칙연산의 결과를 출력

문제 이해  
    입력 자료 : 두 개의 정수  
    출력 자료 : 사칙연산 결과  

알고리즘 설계  
    0. 변수 정의  
    1. 두 개의 정수 입력  
    2. 사칙연산 계산  
    3. 사칙연산 결과 출력  
    4. 종료

In [9]:
# 1. 두 개의 정수 입력
number1 = int(float(input('첫 번째 정수를 입력하세요 : ')))
number2 = int(float(input('두 번째 정수를 입력하세요 : ')))

# 2. 사칙연산 계산
add = number1 + number2
subtract = number1 - number2
multiple = number1 * number2
divide = number1 / number2

# 3. 사칙연산 결과 출력
print(add)
print(subtract)
print(multiple)
print(divide)

첫 번째 정수를 입력하세요 : 70
두 번째 정수를 입력하세요 : 80
150
-10
5600
0.875

In [10]:
print('python programing')

python programing

In [11]:
print('add = ', add)
print('subtract = ', subtract)
print('multiple = ', multiple)
print('divide = ', divide)

add =  150
subtract =  -10
multiple =  5600
divide =  0.875

In [12]:
print(number1, '+', number2, ' = ', add)
print(number1, '-', number2, ' = ', subtract)
print(number1, '*', number2, ' = ', multiple)
print(number1, '/', number2, ' = ', divide)

70 + 80  =  150
70 - 80  =  -10
70 * 80  =  5600
70 / 80  =  0.875

In [13]:
print('add = ', add, '\nsubtract = ', subtract, '\nmultiple = ', multiple, '\ndivide = ', divide)

add =  150
subtract =  -10
multiple =  5600
divide =  0.875

In [14]:
print('add = ', add, '\t\t\tsubtract = ', subtract)

add =  150 			subtract =  -10

In [15]:
# end 인수는 print 각각을 줄바꿈하지 않고 end에 부여된 문자를 출력함. 즉, 자동 줄바꿈 off 역할.
print('add = ', add, end='|')
print('subtract = ', subtract, end='|')
print('multiple = ', multiple, end='|')
print('divide = ', divide, end='|')

add =  150|subtract =  -10|multiple =  5600|divide =  0.875|

In [16]:
print('add = ', add, end='\t')
print('subtract = ', subtract)

add =  150	subtract =  -10

## 실습문제) 5개의 정수를 입력받아 합계와 평균을 출력

실행 결과)  
    첫 번째 정수 입력 :  
    두 번째 정수 입력 :  
    세 번째 정수 입력 :  
    네 번째 정수 입력 :  
    다섯 번째 정수 입력 :  

    첫 번째 정수 + 두 번째 정수 + 세 번째 정수 + 네 번째 정수 + 다섯 번째 정수 = 합계  

    합계 / 5 = 평균

In [17]:
a = int(float(input('첫 번째 정수 : ')))
b = int(float(input('두 번째 정수 : ')))
c = int(float(input('세 번째 정수 : ')))
d = int(float(input('네 번째 정수 : ')))
e = int(float(input('다섯 번째 정수 : ')))

add = a + b + c + d + e
avg = add / 5
print('\n')

# if문 오류,,, 뭐가 문제야 say something ㅠㅠ
if type(add) or type(avg) == str:
    print('Result is a string... Try again.')
elif type(add) == int and type(avg) == float:
    print('\nSuccess Output!')
else:
    print("Something is wrong... Try again")

print('\n')
print(a, '+', b, '+', c, '+', d, '+', e, ' = ', add, '\t\t', type(add))
print(add, '/', '5', ' = ', avg, '\t\t\t', type(avg))

첫 번째 정수 : 90
두 번째 정수 : 100
세 번째 정수 : 110
네 번째 정수 : 120
다섯 번째 정수 : 130


Result is a string... Try again.


90 + 100 + 110 + 120 + 130  =  550 		 <class 'int'>
550 / 5  =  110.0 			 <class 'float'>

In [18]:
print('python
program')
# 그냥 줄바꿈을 하면 에러 발생

SyntaxError: ignored

In [19]:
print('python \
program')           # \ 뒤에 아무것도 없어야 함

python program

## 제어 구조

### 선택 구조

단순 선택

In [20]:
if 10 > 5:
    print('10 > 5')

10 > 5

In [21]:
if 10 < 5:
    print('10 > 5')
print('stop script')

stop script

In [22]:
if 10 > 5:
    print('True')
    print('10 > 5')

True
10 > 5

In [23]:
if True:
    print('10 > 5')
# 이건 의미없는 동작...

10 > 5

In [24]:
if 10:
    print('10 > 5')
# 이것도 의미없는 동작... bool type에서 0이 아니면 True로 보기 때문.

10 > 5

### 양자 택일 구조

In [25]:
if 10 > 5:
    print('10 > 5')
else:
    print('10 <= 5')

10 > 5

In [26]:
if 10 > 15:
    print('10 > 15')
else:
    print('10 <= 15')

10 <= 15

### 다중 선택 구조

In [27]:
number = 51

if number >= 90:
    print('over 90')
elif number >= 80:
    print('over 80')
elif number >= 70:
    print('over 70')
elif number >= 60:
    print('over 60')
else:
    print('under 60')

under 60

### 중첩 선택

In [28]:
number1 = 10
number2 = 20

if number1 >= 10:
    if number2 >= 20:
        print('number1 = ', number1, '\tnumber2 = ', number2)
else:
    print('number1 < 10')

number1 =  10 	number2 =  20

In [29]:
if number1 >= 10 and number2 >= 20:
    print('number1 = ', number1, '\tnumber2 = ', number2)
else:
    print('number1 < 10')

number1 =  10 	number2 =  20

## 반복 구조

### 반복 횟수가 정해진 경우

In [30]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [31]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [33]:
for _ in range(10):
    print(i, 'loop...')

9 loop...
9 loop...
9 loop...
9 loop...
9 loop...
9 loop...
9 loop...
9 loop...
9 loop...
9 loop...

In [34]:
for i in range(1, 11, 1):
    if i > 5:
        break
    print('loop...', i)

loop... 1
loop... 2
loop... 3
loop... 4
loop... 5

In [35]:
total = 0

for i in range(5):
    number = int(float(input('정수 입력 : ')))
    total += number
avg = total / 5
print()

print('number1 + number2 + number3 + number4 + number5 = ', total, end='')
print('\n', total, '/ 5 = ', avg, '\t\t\t', type(avg))

정수 입력 : 10
정수 입력 : 20
정수 입력 : 30
정수 입력 : 40
정수 입력 : 50

number1 + number2 + number3 + number4 + number5 =  150
 150 / 5 =  30.0 			 <class 'float'>

In [36]:
total = 0
number = 0

for i in range(1, 6):
    number = int(float(input('정수 입력 : ')))
    total += number
    print(f'sum = ', number)

    if i == 5:
        print(total, '\t\t\t\t', type(total))

avg = total / 5
print('\n5')
print(total, '/ 5 = ', avg, '\t\t', type(avg))

정수 입력 : 60
sum =  60
정수 입력 : 70
sum =  70
정수 입력 : 80
sum =  80
정수 입력 : 90
sum =  90
정수 입력 : 100
sum =  100
400 				 <class 'int'>

5
400 / 5 =  80.0 		 <class 'float'>

In [37]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [38]:
# 무한 루프를 이용
while True:
    number = int(float(input('정수 입력 (0이면 종료) : ')))
    
    if number == 0:
        break
    print(number)

정수 입력 (0이면 종료) : 10
10
정수 입력 (0이면 종료) : 20
20
정수 입력 (0이면 종료) : 30
30
정수 입력 (0이면 종료) : 40
40
정수 입력 (0이면 종료) : 50
50
정수 입력 (0이면 종료) : 0

In [39]:
# 2-read 기법 이용 --> 입력 값에 따라 한 번도 반복을 수행하지 않을 수도 있음
# 무한 루프의 break 누락 방지를 위해 사용
number = int(float(input('정수 입력 (0이면 종료) : ')))

while number != 0:
    print(number)
    number = int(float(input('정수 입력 (0이면 종료) : ')))

정수 입력 (0이면 종료) : 10
10
정수 입력 (0이면 종료) : 20
20
정수 입력 (0이면 종료) : 30
30
정수 입력 (0이면 종료) : 0